@import url('fonts/Roboto-Regular.ttf');

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3vh;
}

body {
    font-size: 2.5vh;
    font-family: "Roboto", sans-serif;
}

nav img {
    width: 15%;
    max-width: 150px;
    border-radius: 50%;
    position: absolute;
}

nav img:hover {
    background: rgba(100, 100, 100, 0.5);
}

header, footer {
    height: 5vh;
    color: white;
    line-height: 5vh;
    background: black;
    text-align: center;
}

header {
    border-radius: 0px 0px 100% 100% / 0px 0px 200% 200%;
}

footer {
    border-radius: 100% 100% 0px 0px / 200% 200% 0px 0px;
}

section {
    height: 90vh;
}

#twitter {
    top: 10%;
    left: 10%;
}

#github {
    top: 10%;
    right: 10%;
}

#medium {
    left: 10%;
    bottom: 10%;
}

#linkedin {
    right: 10%;
    bottom: 10%;
}

#particles {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -100;
    position: fixed;
}

#my-avatar {
    top: 50%;
    left: 50%;
    width: 30%;
    max-width: 300px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
